<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bookwriters_listing_data_source" xsi:type="string">Kaz\BookWriters\Model\ResourceModel\BookWriters\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Kaz\BookWriters\Model\ResourceModel\BookWriters\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">book_writers</argument>
            <argument name="resourceModel" xsi:type="string">Kaz\BookWriters\Model\ResourceModel\Writers</argument>
        </arguments>
    </virtualType>
</config>
